*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);
    padding: 10px;
    
}

.todo-app{
    width: 100%;
    max-width: 640px;
    background-color: #f8f8f8;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 3px 3px #363636;
}

.todo-app h1{
    color: #363636;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 30%;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ececec;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row label {    
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    margin-right: 3px; /* Adiciona espaço entre o label e o select */
}

select#effort {
    margin-right: 10px; /* Adiciona espaço entre o select e o botão */
    width: 140px;
    height: 35px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml,%3Csvg fill='%23808080' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve' stroke='%23808080'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M78.466,35.559L50.15,63.633L22.078,35.317c-0.777-0.785-2.044-0.789-2.828-0.012s-0.789,2.044-0.012,2.827L48.432,67.58 c0.365,0.368,0.835,0.563,1.312,0.589c0.139,0.008,0.278-0.001,0.415-0.021c0.054,0.008,0.106,0.021,0.16,0.022 c0.544,0.029,1.099-0.162,1.515-0.576l29.447-29.196c0.785-0.777,0.79-2.043,0.012-2.828S79.249,34.781,78.466,35.559z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 56% / 15% no-repeat #ececec;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}


button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #37b46d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    
    
}

button#clear-button{    
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #dc2f2f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;    
    margin: 20px auto auto 25px; 
   
}

button#undo-button{    
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff894c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;  
    margin: 20px auto auto 120px;        
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg' fill='%238a8a8a' stroke='%238a8a8a'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23b8b8b8;stroke-linecap:round;stroke-linejoin:round;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='a' cx='24' cy='24' r='21.5'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg id='Layer_1' style='enable-background:new 0 0 512 512;' version='1.1' viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%232BB673;%7D .st1%7Bfill:none;stroke:%23FFFFFF;stroke-width:30;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpath class='st0' d='M489,255.9c0-0.2,0-0.5,0-0.7c0-1.6,0-3.2-0.1-4.7c0-0.9-0.1-1.8-0.1-2.8c0-0.9-0.1-1.8-0.1-2.7 c-0.1-1.1-0.1-2.2-0.2-3.3c0-0.7-0.1-1.4-0.1-2.1c-0.1-1.2-0.2-2.4-0.3-3.6c0-0.5-0.1-1.1-0.1-1.6c-0.1-1.3-0.3-2.6-0.4-4 c0-0.3-0.1-0.7-0.1-1C474.3,113.2,375.7,22.9,256,22.9S37.7,113.2,24.5,229.5c0,0.3-0.1,0.7-0.1,1c-0.1,1.3-0.3,2.6-0.4,4 c-0.1,0.5-0.1,1.1-0.1,1.6c-0.1,1.2-0.2,2.4-0.3,3.6c0,0.7-0.1,1.4-0.1,2.1c-0.1,1.1-0.1,2.2-0.2,3.3c0,0.9-0.1,1.8-0.1,2.7 c0,0.9-0.1,1.8-0.1,2.8c0,1.6-0.1,3.2-0.1,4.7c0,0.2,0,0.5,0,0.7c0,0,0,0,0,0.1s0,0,0,0.1c0,0.2,0,0.5,0,0.7c0,1.6,0,3.2,0.1,4.7 c0,0.9,0.1,1.8,0.1,2.8c0,0.9,0.1,1.8,0.1,2.7c0.1,1.1,0.1,2.2,0.2,3.3c0,0.7,0.1,1.4,0.1,2.1c0.1,1.2,0.2,2.4,0.3,3.6 c0,0.5,0.1,1.1,0.1,1.6c0.1,1.3,0.3,2.6,0.4,4c0,0.3,0.1,0.7,0.1,1C37.7,398.8,136.3,489.1,256,489.1s218.3-90.3,231.5-206.5 c0-0.3,0.1-0.7,0.1-1c0.1-1.3,0.3-2.6,0.4-4c0.1-0.5,0.1-1.1,0.1-1.6c0.1-1.2,0.2-2.4,0.3-3.6c0-0.7,0.1-1.4,0.1-2.1 c0.1-1.1,0.1-2.2,0.2-3.3c0-0.9,0.1-1.8,0.1-2.7c0-0.9,0.1-1.8,0.1-2.8c0-1.6,0.1-3.2,0.1-4.7c0-0.2,0-0.5,0-0.7 C489,256,489,256,489,255.9C489,256,489,256,489,255.9z' id='XMLID_3_'/%3E%3Cg id='XMLID_1_'%3E%3Cline class='st1' id='XMLID_2_' x1='213.6' x2='369.7' y1='344.2' y2='188.2'/%3E%3Cline class='st1' id='XMLID_4_' x1='233.8' x2='154.7' y1='345.2' y2='266.1'/%3E%3C/g%3E%3C/svg%3E");
}

/* aparencia do x  */
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

/* aparencia do x qnd o mouse passa em cima  */
ul li span:hover{
    color: #FFFFFF;
    background: #ff3e3e;
}

